<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Titlle #}
        {# Titlle #}
        <title>
            {% block title %}
            Welcome!
            {% endblock %}
        </title>
        {# titlle #}

        {# style #}
        <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {# style #}
    </head>
    <body>
    <div class= "container">
        {% block body %}
        
        {% endblock %}
        {# contenido #}
    </div>

        {# scripts #}
        <script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js')) }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{{ absolute_url(asset('js/script.js')) }}"></script>
        {# scripts #}
    </body>
</html>

